/*GENERAL ELEMENTS*/

body {
	font-family: 'Rubik', sans-serif;
}
body,p,h1,h2,h3,h4,h5,h6 {
	margin: 0px;
    font-weight: normal;
}
.main {
    display: flex;
    flex-direction: column;
}
.main > div {
    position: relative;
    display: flex;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
.hidden {
    display: none !important;
}
.navbar {
	margin: 0px;
	background-color: rgb(20,20,20);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 55px;
}
.navbar-items {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
}
.navbar-items a {
    color: gainsboro;
    padding: 18px;
}
.navbar-items a:hover, .navbar-items a:focus {
    background-color: rgba(255,255,255,0.2);
    color: white;
    outline: none;
}
.navbar-items a:active {
    background-color: rgba(255,255,255,0.4);
}
.hamburger *:focus {
    outline: none;
}
.hamburger {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    display: none;
    align-self: flex-end;
    margin-top:  7px;
    margin-bottom: 6px;
    margin-right: 30px;
    padding: 3px;
}
.hamburger .icon-bar {
    width: 30px;
    height: 4px;
    background-color: lightgray;
    border-radius: 2px;
    margin: 5px;
}
.hamburger:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0);
}
.hamburger:active {
    background-color: rgba(255,255,255,0.4);
}
.hamburger:hover .icon-bar {
    background-color: white;
}

.spaced-text {
	letter-spacing: 7px;
	font-size: 30px;
}
h1 {
	text-align: center;
	letter-spacing: 5px;
	font-size: 30px;
	margin: 30px 0px;
	text-transform: uppercase;
	color: rgb(160,160,160);
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
/*center the navbar*/
.navbar-center {
	display: inline-block;
	float: none;
}
.navbar-collapse {
	text-align: center;
}

/*HEADER ROW*/

.header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
	background-color: rgb(20,20,20);
    min-height: 500px;
}
.header-row:before {
	display: block;
	position: absolute;
	background-size: cover;
	background-position: 50% 70%;
	opacity: 0.1;
}

.header-row .spaced-text {
	text-align: center;
	color: gainsboro;
}
.header-row .spaced-text h2 {
	font-size: 30px;
}
.header-row .spaced-text h3 {
	margin: 8px;
	font-size: 25px;
}
.btn-section-nav {
    padding-left: 3px;
    font-size: 30px;
    text-align: center;
	border-radius: 50%;
	color: darkgray;
	background-color: transparent;
    border: 2px solid gainsboro;
    height: 50px;
    width: 50px;
    position: absolute; 
    left: 0; 
    right: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 65px;
    transition: 0.08s;
}
.btn-section-nav.light:hover, .btn-section-nav.light:focus {
    border-color: gray;
    color: gray;
    outline: none;
}
.btn-section-nav.dark:hover, .btn-section-nav.dark:focus {
    border-color: white;
    color: white;
    outline: none;
}
.btn-section-nav.light:hover:active {
    background-color: rgba(0,0,0,0.1);
}
.btn-section-nav.dark:hover:active {
    background-color: rgba(255,255,255,0.2);
}
.btn-section-nav i.fa-angle-down {
    margin-top: 11px;
}
.btn-section-nav i.fa-angle-up {
    margin-top: 8px;
}

/*about INFORMATION ROW*/
.about-row {
	background-color: white;
	display: flex;
}
.about-row > div {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.about-row .headshot {
	background-color: rgba(0,0,0,0.1);
    flex: 0 1 30%;
    justify-content: center;
    display: flex;
}
.about-row img {
    max-height: 60%;
    max-width: 70%;
    border-radius: 50%;
    border: 6px solid rgba(0,0,0,0.1);
    align-self: center;
}
.about-row .bio {
    min-height: 450px;
    flex: 0 1 70%;
    justify-content: center;
}
.about-row .bio h1 {
    margin-top: 0px;
}
.about-row .bio p {
    max-width: 70%;
    align-self: center;
    line-height: 1.5;
    margin-bottom: 40px;
}
.about-row .bio button {
    
}

/*PROJECTS DISPLAY ROW*/

.project-row {
	background-color: rgba(0,0,0,0.87);
    flex-direction: column;
    justify-content: space-between;
}
.project-row > div {
    display: flex;
    padding-bottom: 80px;
}
.project-buttons {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.project-buttons > div {
    margin: 0 5px 10px 5px;
}
.project-buttons .img-btn,
.full-display {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.project-buttons .img-btn {
    display: flex;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 20px;
    background-color: white;
    max-width: 323px;
}
.project-buttons .img-btn img {
    transition: .1s;
    border-radius: 20px;
}
.project-buttons .img-btn img:hover {
    opacity: 0.7;
}
.project-buttons .img-btn img:active {
    opacity: 1;
}
.full-display {
    display: flex;
    flex-direction: column;
    flex: 0 1 65%;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(231,231,231);
    margin-left: 10px;
    margin-right: 10px;
}
.full-display img {
    border-radius: 30px 30px 0px 0px;
    max-width: 100%;
}
.full-display .description {
    padding: 30px 100px;
    line-height: 1.5;
    color: darkslategray;
    margin: 15px auto 20px auto;
    text-align: center;
}
.project-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}
.link-button {
    margin: 5px;
    border-radius: 20px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    background-color: gray;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
}
.link-button:hover, .link-button:focus {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
.link-button:active {
    background-color: #bcbcbc;
    box-shadow: none;
}

/*SKILLS ROW*/

.skills-row {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
	text-align: center;
}
.skills-row > div {
    display: flex;
    justify-content: center;
}
.skills-row .skillsets {
    margin-bottom: 200px;
}
.skills-row > .skillsets > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-row h1 {
    margin-bottom: 50px;
}
.skills-row p {
    letter-spacing: 1px;
	font-size: 18px;
	color: darkslategray;
}
.skills-row .skills {
	display: flex;
	flex-direction: column;
    word-wrap: break-word;
	justify-content: space-around;
    text-align: center;
    padding: 15px;
	border: .75vh solid rgba(0,0,0,0.08);
    width: 18vw;
	height: 300px;
    margin: -7px 10px;
}
.skills-row .icon {
    display: flex;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skills-row img {
	height: 100%;
}
.white-space {
   margin-top: -.5vh;
   margin-bottom: -.5vh;
   border: 7px solid white;
   width: 50%;
   z-index: 1;
}


/* CONTACT ROW */
.btn-circle {
    height: 70px;
    width: 70px;
}
.main .contact-row {
	background-color: rgb(40,40,40);
	text-align: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}
.contact-row  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 80px;
}
.contact-row .img-btn {
    background-image: none;
    height: 75px;
    width: 75px;
	font-size: 40px;
	border-radius: 50%;
    color: white;
    background-color: gray;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
}
.contact-row .img-btn i {
    padding-top: 17px;
}
.contact-row .img-btn:hover, .contact-row .img-btn:focus {
    background-color: rgba(255,255,255,0.6);
	color: white;
    outline: none;
}
.contact-row .img-btn:focus {
    border-color: white;
    color: white;
    box-shadow: none;
}
.contact-row .img-btn:active:focus {
    background-color: rgba(255,255,255, 0.8);
}

@media screen and (max-width: 1024px) {
    .main > div {
    padding-bottom: 85px;
    }
    .main > div,
    .project-row > div,
    .skills-row > div {
        flex-direction: column;
        text-align: center;
        padding-bottom: 40px;
    }
    .main .contact-row > div {
        padding-bottom: 40px;
    }
    .btn-section-nav {
        margin-bottom: 10px;
    }
    .project-buttons {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-row .bio {
    }
    .about-row > div {
        padding: 40px 5px;
    }
    .skills-row .skillsets {
        margin-bottom: 0;
    }
    .skills-row .white-space {
        width: 75%;
    }
    .skills-row .skills {
        max-width: 90vw;
        width: 80vw;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .full-display img {
        display: none;
    }
    .full-display .description {
        padding: 30px 30px;
    }
    .project-buttons img {
        max-width: 90vw;
    }
    .contact-row .img-btn {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}
@media screen and (max-width: 560px) {
    .about-row img {
        max-height: 250px;
        max-width: 250px;
    }
    .hamburger {
        display:block;
    }
    .navbar-items {
        flex-direction: column;
    }
    .navbar-items a {
        width: 100vw;
    }
}
