/*GENERAL ELEMENTS*/

body {
	font-family: 'Rubik', sans-serif;
}
body,p,h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
.glyphicon {
    top: 0px;
}
.navbar {
	margin: 0px;
	background-image: none;
	background-color: rgb(20,20,20);
	border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.spaced-text {
	letter-spacing: 7px;
	font-size: 30px;
}
h1 {
	text-align: center;
	letter-spacing: 5px;
	font-size: 30px;
	margin: 30px 0px;
	text-transform: uppercase;
	color: rgb(160,160,160);
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
/*center the navbar*/
.navbar-center {
	display: inline-block;
	float: none;
}
.navbar-collapse {
	text-align: center;
}
.button-row {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}

/*HEADER ROW*/

.header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
	background-color: rgb(20,20,20);
    height: 60vh;
}
.header-row:before {
	display: block;
	position: absolute;
	background-size: cover;
	background-position: 50% 70%;
	opacity: 0.1;
}

.header-row .spaced-text {
	text-align: center;
	color: gainsboro;
}
.header-row .spaced-text h2 {
	font-size: 30px;
}
.header-row .spaced-text h3 {
	margin: 8px;
	font-size: 25px;
}
.btn:focus, .btn:hover, .btn:active {
    color: white;
    box-shadow: none;
}
.btn {
    transition: 0.08s;
}
.btn-section-nav,
.btn-section-nav:focus {
	border-radius: 50%;
    padding: 12px 15px;
	color: darkgray;
	background-image: none;
	background-color: transparent;
    border: 2px solid gainsboro;
	margin: -80px 15px 0px 15px;
	z-index: 1;
    height: 50px;
    width: 50px;
}
.btn-section-nav.light:hover  {
    border-color: gray;
    color: gray;
}
.btn-section-nav.dark:hover {
    border-color: white;
    color: white;
}
.btn-section-nav.light:hover:active {
    background-color: rgba(0,0,0,0.1);
}
.btn-section-nav.dark:hover:active {
    background-color: rgba(255,255,255,0.3);
}
.btn-section-nav span {
    padding-top: 5px;
}

/*PERSONAL INFORMATION ROW*/
.personal-row {
	background-color: white;
	display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.personal-row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.personal-row .bio-side {
	background-color: rgba(0,0,0,0.1);
    flex: 0 1 30%;
}
.personal-row img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    border: 6px solid rgba(0,0,0,0.1);
    align-self: center;
}
.personal-row .bio {
    height: 45vh;
    flex: 0 1 70%;
}
.personal-row .bio p {
    max-width: 70%;
    align-self: center;
    margin-bottom: 50px;
}

/*PROJECTS DISPLAY ROW*/

.project-row {
	background-color: rgba(0,0,0,0.87);
	padding-bottom: 95px;
	position: relative;
}
.project-row h1 {
}
.project-buttons .img-btn,
.full-display {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.project-buttons .col-xs-6 {
    display: inline-block;
    margin: 0 auto 10px auto;
}
.project-buttons .img-btn {
    cursor: pointer;
    transition: 0.1s;
    border-radius: 20px;
    background-color: white;
    float: none;
    margin: auto;
    max-width: 323px;
}
.project-buttons .img-btn img {
    transition: .1s;
    border-radius: 20px;
}
.project-buttons .img-btn img:hover {
    opacity: 0.7;
}
.project-buttons .img-btn img:active {
    opacity: 1;
}
.full-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    max-width: 100%;
    background-color: rgb(231,231,231);
    float: none;
}
.full-display img {
    border-radius: 30px 30px 0px 0px;
    max-width: 100%;
}
.full-display .description {
    padding: 30px 100px;
    font-size: 16px;
    color: darkslategray;
    margin: 15px auto 20px auto;
}
.project-button-links {
    margin-bottom: 10px;
}
.project-button {
    margin: 5px;
    border-radius: 20px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    background-color: gray;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
}
.full-display .btn:hover {
    background-color: darkgray;
    color: white;
}
.full-display .btn:active {
    background-color: #bcbcbc;
    box-shadow: none;
}

/*SKILLS ROW*/

.skills-row {
	text-align: center;
    padding-bottom: 135px;
}
.skills-row h1 {
    margin-bottom: 50px;
}
.skills-row h2 {
    letter-spacing: 1px;
	font-size: 18px;
	color: darkslategray;
}
.skills-row .main-column {
	padding-bottom: 135px;
}
.skills-row .skills {
	display: flex;
    word-wrap: break-word;
	flex-direction: column;
	justify-content: space-between;
    padding: 15px;
	border: 6px solid rgba(0,0,0,0.08);
	height: 300px;
    margin-top: -7px;
    margin-bottom: -7px;
}
.skills-row span {
	font-size: 50px;
	padding: 30px;
	background-color: transparent;
	color: gray;
}
.white-space {
    border: 7px solid white;
    z-index: 1;
}
.letter-c:before {
    
}
.letter-c {
    background-image: url('images/letter-c-64.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 22px;
    border-radius: 0px;
}
/* CONTACT ROW */
.btn-circle {
    height: 70px;
    width: 70px;
}
.contact-row {
	background-color: rgb(40,40,40);
	text-align: center;
	padding-bottom: 155px;
}
.contact-row  > div {
    margin-top: 50px;
}
.contact-row .btn {
    background-image: none;
    padding-top: 20px;
	font-size: 24px;
	border-radius: 50%;
    color: white;
    background-color: gray;
    border: none;
}
.contact-row .btn:hover {
    background-color: rgba(255,255,255,0.6);
	color: white;
}
.contact-row .btn:focus {
    border-color: white;
    color: white;
    box-shadow: none;
}
.contact-row .btn:active:focus {
    background-color: rgba(255,255,255, 0.8);
}
.contact-row .img-btn {
    padding: 0px;
}
.contact-row .img-btn img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .personal-row p:last-child {
        margin-bottom: 25%;
    }
    .full-display .description {
        padding: 30px 30px;
    }
}